html {
    height: 100%;
}

body {
    height: 100%;

    display: flex;
    flex-wrap: wrap;
    column-gap: 1.5%;
}

.bg_dark-salmon {
    background-color: darksalmon;
}

.block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.height25prc {
    height: 25%;
}

.widgets {
    flex-basis: 100%;
}

.big {
    flex-basis: 24%;
}

.bigger {
    flex-basis: 33%;
}

.huge {
    flex-basis: 40%;
}

.contact {
    flex-basis: 100%;
    height: 40%;
}