body {
    display: flex;
    flex-wrap: wrap;
    column-gap: 0.25%;
    row-gap: 5px;
}

.text_white_color {
    color: #FFF;
}

.block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.height70 {
    height: 70px;
}

.height400 {
    height: 400px;
}

#header {
   background-color: #89c7f8;

    flex-basis: 100%;
}

#nav {
    background-color: #02213b;

    flex-basis: 100%;
}

#menu {
    background-color: #1e87d5;

    flex-basis: 70%;
}

#aside {
    background-color: #037bde;

    flex-basis: 29.75%;
}

#footer {
    background-color: #2e98ec;

    flex-basis: 100%;
}
