html {
    height: 100%;
}

body {
    height: 100%;

    display: flex;
    column-gap: 1%;
    row-gap: 10px;
    flex-wrap: wrap;
}

.block {
    background-color: #45e345;

    display: flex;
    justify-content: center;
    align-items: center;
}

#header {
    height: 15%;
    width: 100%;
    align-self: flex-start;
}

#menu {
    height: 69%;
    width: 20%;
}

.post-container {
    width: 79%;
    display: flex;
    flex-wrap: wrap;
    row-gap: 2%;
}

.post {
    width: 100%;
    height: 49%;
}

#footer {
    height: 15%;
    width: 100%;
    align-self: flex-end;
}