html {
    height: 100%;
}

body {
    height: 100%;

    display: flex;
    flex-wrap: wrap;
    column-gap: 1%;
}

.block {
    background-color: darksalmon;

    display: flex;
    justify-content: center;
    align-items: center;
}

.widgets {
    flex-basis: 100%;
    height: 25%;
}

.big {
    flex-basis: 24%;
    height: 25%;
}

.bigger {
    flex-basis: 34%;
    height: 25%;
}

.huge {
    flex-basis: 40%;
    height: 25%;
}

.contact {
    flex-basis: 100%;
    height: 40%;
}