.nav {
    width: 1920px;
    height: 36px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    box-sizing: border-box;
    padding: 0 280px;

    position: fixed;
    z-index: 1;
}

.nav__more {
    display: none;
}

.nav p {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

    color: #FFFFFF;
}

.nav p span {
    text-decoration: underline;
}

.nav__left {
    display: flex;
    align-items: center;
    column-gap: 50px;
}

.nav__geopos {
    display: flex;
    align-items: center;
    column-gap: 4px;
}

.nav__info {
    display: flex;
    column-gap: 30px;
}

.nav__options {
    display: flex;
    column-gap: 30px;
}

.header {
    width: 1920px;
    height: 232px;

    padding: 64px 280px 0;
    box-sizing: border-box;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.header__upper-group {
    display: flex;
    align-items: center;

    margin-bottom: 20px;
}

.logo_group {
    width: 173px;
    height: 83px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo_group h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;

    color: #0F2438;
}

.logo_group p {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;

    color: #0F2438;
}

.header__upper-group .wrapper {
    display: flex;
}

.header__upper-group .right-wrapper {
    display: flex;
    column-gap: 80px;

    margin-left: 78px;
}

.header__upper-group .whatsapp_button {
    margin: 0;
}

.working_hours {
    margin: 0 100px 0 110px;

    display: flex;
}

.working_hours img {
    width: 32px;
    height: 32px;
}

.working_hours p {
    margin-left: 10px;
    text-align: end;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;

    color: #0F2438;
}

.location {
    display: flex;

    align-items: center;
    column-gap: 10px;

}

.location img {
    width: 32px;
    height: 32px;
}

.location p {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

    color: #0F2438;
}

.whatsapp_button {
    width: 204px;
    height: 30px;

    margin: 0 70px 0 62px;

    background: #E1EFD0;
    border-radius: 2px;

    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 6px;
}

.whatsapp_button span {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: right;

    color: #000000;
}

.phone_contacts {
    display: flex;
    flex-direction: column;
}

.phone_contacts h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;

    color: #0F2438;
}

.phone_contacts p {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;

    text-align: end;
    text-decoration-line: underline;

    color: #0F2438;
}

.header__lower-group {
    display: flex;
    align-items: center;
}

.catalogue_button {
    width: 164px;
    height: 53px;

    background: #005BB9;
    border-radius: 6px;

    display: flex;
    column-gap: 12px;
    align-items: center;

    padding: 16px 32px;

}

.burger {
    display: flex;
    flex-direction: column;
    row-gap: 2px;
}

.burger span {
    width: 20px;
    height: 3px;

    background: #FFFFFF;
}

.catalogue_button span {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;

    color: #FFFFFF;
}

.header__lower-group input {
    width: 549px;
    height: 53px;

    background: #F4F5FA;
    border-style: none;
    border-radius: 6px 0 0 6px;

    margin-left: 30px;
}

.header__lower-group input::placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    color: #C2C5DA;
}

.header__lower-group .search_button {
    width: 101px;
    height: 53px;

    background: #005BB9;
    border-radius: 0 6px 6px 0;

    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    color: #FFFFFF;
}

.user_fields {
    display: flex;
    align-items: center;

    margin-left: 155px;
}

.user_fields .home, .user_fields .profile {
    display: none;
}

.user_fields .login, .user_fields .favorites, .user_fields .cart {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;

}

.user_fields .login {
    width: 110px;
}

.user_fields .favorites {
    width: 140px;

    border-right: 1px solid #E1E5F8;
    border-left: 1px solid #E1E5F8;
}

.user_fields .cart {
    width: 110px;
}

.banner-section {
    display: flex;

    margin-top: 30px;
}

.banner {
    width: 1008px;
    height: 390px;

    box-sizing: border-box;
    background: url("../image/banner-bg.png") no-repeat;

    margin-left: 283px;
    margin-right: 10px;
    padding: 0 30px;

    display: flex;
    align-items: center;

    position: relative;
}

.banner__btn {
    width: 40px;
    height: 40px;

    border-radius: 50%;
    background: #FFFFFF;

    box-sizing: border-box;
    padding: 11px 0 0 11px;
}

.banner__item-description {
    display: flex;
    flex-direction: column;
    align-items: start;

    margin-left: 75px;
    margin-right: 68px;
}

.banner__item-description h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;

    color: #0A1A2C;
}

.banner__item-description > p:nth-child(2) {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-decoration-line: underline;

    color: #717171;

    margin-top: 10px;
    margin-bottom: 25px;
}

.banner__item-description .price {
    font-weight: 500;
    font-size: 37px;
    line-height: 43px;

    color: #005BB9;

    margin-bottom: 15px;
}

.banner__item-description .price span {
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;

    text-decoration-line: line-through;

    color: #C2C5DA;

    margin-left: 10px;
}

.bucket-btn {
    height: 49px;

    background: #005BB9;
    border-radius: 6px;
}

.bucket-btn.big-btn {
    width: 160px;

    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
}

.bucket-btn span {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    color: #FFFFFF;
}

.breadcrumbs {
    width: 92px;
    height: 16px;

    left: 50%;
    bottom: 20px;

    position: absolute;

    display: flex;
    justify-content: space-between;
}

.breadcrumbs span {
    width: 16px;
    height: 16px;

    background: #FFFFFF;
    border-radius: 50%;
}

.breadcrumbs span:first-child {
    background: black;
}

.discount {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.discount__item {
    width: 336px;
    height: 190px;

    background: #F4F5FA;
    border-radius: 10px;
}

.discount__item > p {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

    color: #0F2438;

    margin: 20px 0 18px 15px;
}

.discount__item .main-content {
    display: flex;
    column-gap: 15px;

    margin-left: 15px;
}

.discount__item .item-description {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
}

.discount__item .item-description h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;

    color: #0A1A2C;
}

.discount__item .item-description p {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;

    color: #525252;
}

.discount__item .lower-part {
    display: flex;
    justify-content: end;

    margin-right: 15px;
}

.discount__item .price {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;

    color: #FFB800;

    margin-right: 32px;
}

.discount__item .price span {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

    text-decoration-line: line-through;

    color: #C2C5DA;
}

.discount__item button {
    width: 57px;
}

.product-categories {
    height: 184px;

    margin-top: 70px;
    margin-left: 283px;

    display: flex;
    column-gap: 30px;
}

.product-categories .category {
    width: 431px;

    display: flex;
    justify-content: space-between;

    border: 1px solid #E1E5F8;
    box-sizing: border-box;
    border-radius: 6px;

    position: relative;
}

.product-categories .category:last-child {
    width: 438px;
}

.product-categories .category__description {
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    margin: 30px 0 0 30px;
}

.product-categories .category__description h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;

    color: #0A1A2C;
}

.product-categories .category__description p {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;

    color: #0A1A2C;
}

.product-categories .category__button {
    width: 86px;
    height: 26px;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

    color: #FFFFFF;

    background: #005BB9;
    border-radius: 4px;
}

.category:first-child::before, .category:last-child::after {
    content: "";
    width: 40px;
    height: 40px;

    background: #FFFFFF;
    border-radius: 50%;
    filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.15));

    position: absolute;
    top: 50%;
    margin-top: -20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.category:first-child::before {
    content: url("../image/chevron left.png");

    left: -20px;
}

.category:last-child::after {
    content: url("../image/chevron right.png");

    right: -20px;
}

.option_sections {
    margin-top: 70px;
    margin-left: 283px;

    display: flex;
    column-gap: 20px;

}

.option_sections div {
    border: 2px solid #005BB9;
    box-sizing: border-box;
    border-radius: 6px;

    padding: 16px 32px;
}

.option_sections div:first-child {
    background: #005BB9;
}

.option_sections p {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;

    color: #005BB9;

}

.option_sections div:first-child p {
    color: #FFFFFF;
}

.item_catalogue {
    width: 1920px;
    padding: 45px 283px;
    box-sizing: border-box;

    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 40px;
}

.item_card {
    width: 316px;
    height: 418px;

    position: relative;
}

.item_card.media_768 {
    display: none;
}

.item_catalogue > span {
    width: 100%;
    height: 1px;

    background: #E1E5F8;
}

.reviews {
    display: flex;

    margin: 15px 0 10px 0;
}

.reviews p {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

    color: #FFB800;

    margin: 0 10px 0 3px;
}

.reviews p span {
    font-weight: normal;

    color: #B0B0B0;
}

.item_card h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;

    color: #0A1A2C;
}

.item_card > p {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;

    color: #000000;

    margin: 46px 0 20px 0;
}

.item_card > p span {
    text-decoration-line: underline;

    color: #005BB9;
}

.item_operations {
    display: flex;
    align-items: center;

    column-gap: 20px;
}

.item_operations img {
    height: 21px;
}

.item_card:nth-child(2) > p, .item_card:nth-child(7) > p {
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;

    color: #FFB800;

    margin: 40px 0 15px 0;
}

.item_card:nth-child(2) > p span, .item_card:nth-child(7) > p span {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

    text-decoration-line: line-through;

    color: #C2C5DA;

    margin-left: 8px;
}

.item_card:nth-child(2)::after, .item_card:nth-child(7)::after {
    content: "-40%";

    width: 49px;
    height: 20px;

    position: absolute;
    top: 0;

    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;

    color: #FFFFFF;
    background: #FFB800;
    border-radius: 2px;

    text-align: center;
    padding-top: 3px;
    box-sizing: border-box;
}

.show_more {
    width: 187px;
    height: 49px;

    margin: 0 auto;

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #005BB9;
    border: 2px solid #005BB9;
    box-sizing: border-box;
    border-radius: 6px;
}

.news {
    width: 1920px;

    margin-top: 80px;
    padding-left: 283px;
    box-sizing: border-box;

    position: relative;
}

.news h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;

    color: #000000;
}

.news .border-line {
    width: 1920px;
    height: 9px;

    position: absolute;
    left: 0;
    top: 40px;

    padding: 0 283px;

    display: flex;


    background: #F5F5F5;
}

.news .border-line div {
    width: 9px;
    height: 9px;

    background: #0C1A2A;
    border-radius: 50%;
}

.news-list {
    display: flex;

    margin-top: 41px;
}

.news__item {
    display: flex;
    flex-direction: column;
}

.news__item .date {
    width: 106px;
    height: 22px;

    background: #0C1A2A;
    border-radius: 4px;

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: #FFFFFF;

    position: relative;

    margin-bottom: 15px;
}

.news__item .date::before {
    content: "";

    width: 1px;
    height: 20px;

    background: #0C1A2A;

    position: absolute;

    top: -20px;
    left: 53px;
}

.news__item .date::after {
    content: "";

    width: 9px;
    height: 9px;

    border-radius: 50%;
    background: #0C1A2A;

    position: absolute;

    top: -29px;
    left: 49px;
}

.news__item p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;

    color: #242424;

    margin-top: 20px;
}

.news__item:first-child {
    width: 284px;
}

.news__item:nth-child(2) {
    width: 311px;

    margin-left: 60px;
    margin-right: 58px;
}

.news__item:nth-child(3) {
    width: 268px;

    margin-right: 96px;
}

.news__item:last-child {
    width: 278px;
}

footer {
    width: 1920px;
    height: 408px;

    margin-top: 120px;
    padding: 36px 283px 0;
    box-sizing: border-box;

    background: #0C1A2A;
}

.footer__groups {
    display: flex;
    flex-wrap: wrap;
}

.footer__groups h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;

    color: #868DAC;
}

.footer__groups li {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

    color: #FFFFFF;

    margin-top: 14px;
}

.footer__rubrics {
    margin: 0 95px 0 90px;
}

.footer__info li:last-child {
    margin-top: 45px;
}

.footer__company-info {
    margin-left: 108px;
}

.footer__company-info .upper_groups {
    display: flex;
    column-gap: 107px;
}

.footer__company-info .upper_groups p {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    color: #FFFFFF;

    margin-top: 14px;
}

.footer__company-info .feedback p {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;

    color: #858CAB;

    margin-top: 23px;
}

.footer__company-info .feedback p span {
    color: #FFFFFF;

    margin-left: 23px;
}

.footer__company-info .feedback .subscription {
    margin-top: 19px;

    display: flex;
}

.feedback .subscription input {
    width: 293px;
    height: 40px;

    border: 1px solid #203246;
    box-sizing: border-box;
    border-radius: 6px 0 0 6px;

    background: #0C1A2A;

    padding-left: 17px;
}

.feedback .subscription input::placeholder {
    color: #ADBDD1;
}

.feedback .subscription .subscribe {
    width: 177px;
    height: 40px;

    background: #005BB9;
    border-radius: 0 6px 6px 0;

    font-size: 16px;
    line-height: 19px;

    text-align: center;

    color: #FFFFFF;
}

.social {
    margin-top: 27px;

    display: flex;
    justify-content: end;
    column-gap: 55px;
}

.social img {
    height: 20px;
}

.under_footer {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;

    color: #737E9B;

    margin-top: 43px;
}

.bg_dark-blue {
    background-color: #0F2438;
}
