@media screen and (max-width: 400px) {
    .header__menu {
        display: none;
    }

    .header__logo img {
        width: 50px;
    }

    .wrapper {
        max-width: 340px;
        padding: 0 10px;
    }

    .header__top {
        padding-top: 20px;

    }

    .nav__btn_mobile {
        display: flex;
    }

    .header__title h2 {
        font-size: 30px;
        line-height: 34px;
    }

    .header__title h1 {
        font-size: 40px;
        line-height: 46px;
    }

    .header__title {
        width: 100%;
    }
    .header__title p::before, .header__title p::after {
        display: none;
    }

    .features {
        flex-wrap: wrap;
        row-gap: 14px;

        top: 698px;
    }

    .feature__item {
        width: 290px;
        height: 276px;
    }

    .feature__item img {
        margin-top: 33px;
    }

    .feature__item p {
        font-size: 22px;
        line-height: 25px;
    }

    .first_section {
        margin-top: 700px;

        flex-direction: column;
        row-gap: 45px;
    }

    .first_section__description {
        width: 100%;
    }

    .first_section__description h3 {
        margin: 0 65px;
    }

    .first_section__description p {
        margin-left: 15px;
        margin-right: 15px;
    }

    .first_section__stats {
        flex-direction: column;
    }

    .first_section__gallery {
        width: 100%;
        height: 257px;
        margin: 0 15px;
    }

    .banner {
        margin-top: 400px;
    }

    .first_section__gallery img:nth-child(1) {
        width: 125px;
        height: 154px;

        top: 30px;
        left: 0;

    }

    .first_section__gallery img:nth-child(2) {
        width: 137px;
        height: 222px;

        left: 105px;
    }

    .first_section__gallery img:nth-child(3) {
        width: 137px;
        height: 155px;

        top: 90px;
        left: 155px;
    }

    .first_section__gallery img:nth-child(4) {
        width: 103px;
        height: 96px;

        left: 155px;
    }

    .banner {
        width: 400px;
        justify-content: center;
        flex-direction: column;
    }

    .banner__description {
        width: 100%;
    }

    .banner__description h3 {
        width: 290px;

        font-size: 30px;
        line-height: 34px;

        margin: 0 auto;

        text-align: center;
    }

    .banner__description p {
        margin: 20px 15px 0;

        text-align: center;
    }

    .banner .header__button {
        margin: 30px auto 0;
    }

    .second_section h3 {
        width: 60%;
        margin-left: 70px;
    }

    .second_section__content {
        flex-direction: column;
    }

    .second_section__catalogue {
        padding: 50px 0;
        row-gap: 85px;
    }

    .second_section__item {
        margin-left: 15px;
        column-gap: 12px;
        text-align: center;
    }

    .second_section__item p span {
        display: none;
    }

    .third_section__item:nth-child(2), .third_section__item:nth-child(3) {
        display: none;
    }

    .gallery h2 {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }

    .gallery .image_cat {
        justify-content: center;
    }

    .gallery img {
        width: 255px;
        height: 274px;
    }

    .gallery>img {
        width: 100%;
        height: 420px;
    }
}





