html {
    height: 100%;
}

body {
    height: 100%;
}

.section {
    background-color: white;
    box-sizing: border-box;
    border: black solid 3px;
}

.block {
    background-color: #89c7f8;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header {
    width: 100%;
    height: 10%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0;
}

#header .block {
    width: 200px;
    height: 40px;
}

.wrapper {
    height: 100%;
    display: flex;
}

#sidebar {
    flex-basis: 20%;
    height: 100%;

    padding: 5px 5px 0;


}

#sidebar .block {
    height: 70px;

    margin-bottom: 5px ;
    flex-basis: 95%;
}

.main_content {
    flex-basis: 80%;
}

#banner {
    flex-basis: 100%;
    height: 20%;

    padding: 10px;
}

.placeholder {
    background-color: darkgray;
    height: 95%
}

#catalogue_header {
    flex-basis: 100%;
    height: 10%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    row-gap: 10px;

    padding: 10px 20px;
}

#catalogue_header .block {
    flex-basis: 20%;
    height: 100%;
}

.catalogue_additional_wrapper {
    display: flex;
    flex-wrap: wrap;
}

#catalogue {
    flex-basis: 80%;
    height: 60%;
    padding-top: 10px;
}

#catalogue .grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 10px;

    padding: 0 20px;
}

#catalogue .block {
    flex-basis: 35%;
    height: 70px;

}

#catalogue .button_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 20px;

}

#catalogue .expand_btn {
    background-color: darkgray;
    height: 25px;

    padding: 5px 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#additional {
    flex-basis: 20%;

    padding: 5px 20px 0;
}

#additional .block {
    flex-basis: 60%;
    height: 60px;
    margin-bottom: 5px;

}

#footer {
    flex-basis: 100%;
    height: 10%;
    padding: 5px 25px 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer_line_element {
    flex-basis: 100%;
    height: 30px;
    margin-bottom: 10px;
}

.footer_short_element {
   flex-basis: 10%;
    height: 30px;
}

@media screen and (max-width: 900px) {
    html, body, #header, .wrapper, #sidebar, #banner, #catalogue_header, #catalogue, #additional, #footer {
        height: auto;
    }

    .main_content {
        flex-basis: 100%;
    }

    .catalogue_additional_wrapper {
        flex-direction: column;
    }

    #catalogue .hide {
        display: none;
    }



    #additional {
        display: flex;

    }

    .additional_wrapper {
        flex-basis: 35%;
        margin-right: 20px;

    }

    #additional .last_block {
        height: auto;
        padding-left: 20px;
    }


    .fourth_item_wrapper {
        flex-basis: 45%;

    }

    #banner {
        height: 200px;
    }

    #sidebar {
        display: none;
    }

    #catalogue_header .block {
        flex-basis: 40%;
    }
}

@media screen and (max-width: 600px) {
    html, body, #header, .wrapper, #sidebar, #banner, #catalogue_header, #catalogue, #additional, #footer {
        height: auto;
    }

    .main_content {
        flex-basis: 100%;
    }

    .catalogue_additional_wrapper {
        flex-direction: column;
    }

    #catalogue .block {
        flex-basis: 100%;
    }

    #catalogue .hide, .hide_s {
        display: none;
    }

    #additional {
        display: flex;
        flex-wrap: wrap;



    }

    .additional_wrapper {
        flex-basis: 100%;
        margin: 0;
    }

    #additional .block {
        flex-basis: 100%;
        margin-bottom: 20px;

    }

    #additional .last_block {
        height: 200px;
    }



    #banner {
        height: 200px;
    }

    #sidebar {
        display: none;
    }

    #catalogue_header .block {
        flex-basis: 40%;
    }
}



