@media screen and (max-width: 400px) {
    .header__menu {
        display: none !important;
    }

    .navbar-brand img {
        width: 50px;
    }

    .wrapper {
        max-width: 340px;
        padding: 0 10px;
    }

    .header__top {
        padding-top: 20px;

    }

    .nav__btn_mobile {
        display: flex;
    }

    .header__title h2 {
        font-size: 30px;
        line-height: 34px;
    }

    .header__title h1 {
        font-size: 40px;
        line-height: 46px;
    }

    .header__title {
        width: 100%;
    }

    .header__title p::before, .header__title p::after {
        display: none;
    }

    .features {
        flex-wrap: wrap;
        row-gap: 14px;

        top: 698px;
    }

    .feature__item {
        width: 290px;
        height: 276px;
    }

    .feature__item img {
        margin-top: 33px;
    }

    .feature__item p {
        font-size: 22px;
        line-height: 25px;
    }
}