body {
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 0.5%;
    row-gap: 5px;
}

.widget {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vertical {
    background-color: #037bde;
    flex-basis: 49.5%;

    height: 300px;
}

.horizontal {
    background-color: #037bde;
    flex-basis: 100%;

    height: 150px;
}

.small {
    background-color: #033662;
    flex-basis: 33%;
    height: 100px;
}