* {
    margin: 0;
}


.bg-light {
    background-color: #ced8df;
}

.bg-dark {
    background-color: #102b3e;
}

.large-section{
    width: 100%;
    height: 300px;

    display: flex;
    justify-self: center;
    align-items: center;
}

.card-list-title {
    display: inline;
}

.wrapper-with-border {
    border: 1px solid #4aafdc;
    border-radius: 50px;

    flex-basis: 100%;
    height: 80%;

    margin: 0 20px;
    padding: 20px 0;

    text-align: center;
}

.description-element{
    border-radius: 20px;

    padding: 2px 5px;
    margin-top: 10px;
}

.card-list {
    flex-basis: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.card {
    flex-basis: 20%;

    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

}

.card__image {
    border-radius: 20px;

    width: 120px;
    height: 120px;

    margin: 20px 0 20px 0;
}

.width200{
    width: 200px;
}

.round {
    border-radius: 50%;
}

.smaller-text-size {
    font-size: small;
}

