body {
    background-color: coral;
}

.header_position {
    text-align: center;
}

.stick_to_the_top {
    background-color: darkcyan;
    position: sticky;
    top: 0;
}

.text_container {
    border: #e51d53 solid 5px;
    border-radius: 10px;

    margin: 10px 5px 10px;
}

.image_box {
    display: flex;
    justify-content: space-around;

    height: 250px;

    border: crimson dashed 5px;
    border-radius: 10px;

    margin: 5px;
    padding: 5px;
}

.text_style {
    font-family: "Abyssinica SIL", serif;
}

.content_position {
    text-align: justify;

    padding: 10px;
}

.bottom_part {
    display: flex;
    justify-content: space-around;
}

.discography {
    width: 100%;
}

img:hover {
    border: 5px solid aqua;
    border-radius: 50%;
}

li:hover {
    color: chartreuse;
}

li a:hover {
    color: blue;
    font-size: 150%;
    text-decoration: none;
}